<?php 
if(!isset($disableconn))
require_once('db-connect.php');

$result = pg_query($dbconn, "SELECT * FROM <%= @table_name %>");
if (!$result) {
    echo "An error occurred.\n";
    exit;
}

$arr = pg_fetch_all($result);

echo '<table>
        <thead>
         <% @columns.each do |c| %>
           <th><%= c["column_name"] %></th>
         <% end %>';

echo   '<th></th>
        <th></th>
        </thead>
        <tbody>';

foreach($arr as $array)
{
    echo '<tr>
            <% @columns.each do |c| %>
              <% if c["foreign_key"] %>
                <td>';
                  $_GET['id'] = $array['id'];
                  $disableconn = true;
                  include('<%= c["foreign_key"]["foreign_table_name"] %>_show.php');
                  unset($disableconn);
                echo '</td>
              <% else %>
                <td>'.$array['<%= c["column_name"] %>'].'</td>
              <% end %>
            <% end %>
            <td><a href="<%= @table_name %>_edit.php?id='.$array['id'].'">Modifier</a>
            <td><a href="<%= @table_name %>_destroy.php?id='.$array['id'].'">Supprimer</a>
          </tr>';
}
echo '</tbody></table>';

if(!isset($disableconn))
pg_close($dbconn);
?>
