<?php 
if(!isset($disableconn))
require_once('db-connect.php');

if(isset($_GET['id'])) {
  $result = pg_query($dbconn, "SELECT * FROM <%= @table_name %> WHERE id =".$_GET['id'].";");
} else {
  $result = pg_query($dbconn, "SELECT * FROM <%= @table_name %>");
}
if (!$result) {
    echo "An error occurred.\n";
    exit;
}

$<%= @table_name %>_arr = pg_fetch_all($result);

echo '<table border="2" width="100%">
        <thead>
         <% @columns.each do |c| %>
           <th><%= c["column_name"] %></th>
         <% end %>';
<% @local_reverse_fks.each do |rfk| %>
echo '<th><%= rfk['referencing_table_name'] %></th>';
<% end %>

echo   '<th></th>
        <th></th>
        </thead>
        <tbody>';

foreach($<%= @table_name %>_arr as $<%= @table_name %>_element)
{
    echo '<tr>
      <td><a href="<%= @table_name %>_index.php?id='.$<%= @table_name %>_element['id'].'">'.$<%= @table_name %>_element['id'].'</a></td>
            <% (@columns.select{|c| c["column_name"] != "id" }).each do |c| %>
              <% if c["foreign_key"] %>
                <td>';
                  $_GET['id'] = $<%= @table_name %>_element['<%= c["column_name"] %>'];
                  $disableconn = true;
                  include('<%= c["foreign_key"]["foreign_table_name"] %>_show.php');
                  unset($disableconn);
                echo '</td>
              <% else %>
                <td>'.$<%= @table_name %>_element['<%= c["column_name"] %>'].'</td>
              <% end %>
            <% end %>
<% @local_reverse_fks.each do |rfk| %>
<td>';
  $referencing_<%= rfk["referencing_table_name"] %>_ids = pg_fetch_all(pg_query($dbconn, "SELECT id FROM <%= rfk["referencing_table_name"] %> WHERE <%= rfk["referencing_table_name"] + "." + rfk["referencing_column_name"] %> = ".$<%= @table_name %>_element['<%= rfk["referenced_column_name"] %>'].";"));
$disableconn = true;
foreach($referencing_<%= rfk["referencing_table_name"] %>_ids as $o) 
{
  $_GET['id'] = $o['id'];
  include('<%= rfk["referencing_table_name"] %>_show.php');
}
unset($disableconn);
echo '</td>
<% end %>
            <td><a href="<%= @table_name %>_edit.php?id='.$<%= @table_name %>_element['id'].'">Modifier</a>
            <td><a href="<%= @table_name %>_destroy.php?id='.$<%= @table_name %>_element['id'].'">Supprimer</a>
          </tr>';
}
echo '</tbody></table>';

if(!isset($disableconn))
pg_close($dbconn);
?>
