<?php 

if (isset($_GET['id'])) {

  if(!isset($disableconn))
  require_once 'db-connect.php';

  $<%= @table_name %>_query = pg_query($dbconn, "SELECT * FROM <%= @table_name %> WHERE id=".$_GET['id'].";");
  if (!$<%= @table_name %>_query) {
      echo "An error occurred.\n";
      exit;
  }

  $<%= @table_name %>_object = pg_fetch_all($<%= @table_name %>_query);

  echo '<table>
          <tr>
           <% @columns.each do |c| %>
             <td><%= c["column_name"] %></td>
           <% end %>
          </tr>';

  foreach($<%= @table_name %>_object as $<%= @table_name %>_element)
  {
      echo '<tr>
              <% @columns.each do |c| %>
                <td>'.$<%= @table_name %>_element['<%= c["column_name"] %>'].'</td>
              <% end %>
            </tr>';
  }
  echo '</table>';

  if(!isset($disableconn))
  pg_close($dbconn);
}
?>

