<?php 

if (isset($_GET['id'])) {

  if(!isset($disableconn))
  require_once 'db-connect.php';

  $<%= @table_name %>_query = pg_query($dbconn, "SELECT * FROM <%= @table_name %> WHERE id=".$_GET['id'].";");
  if (!$<%= @table_name %>_query) {
      echo "An error occurred.\n";
      exit;
  }

  $<%= @table_name %>_object = pg_fetch_all($<%= @table_name %>_query);

  echo '<table border="1" width="100%">
          <thead>
           <% @columns.each do |c| %>
             <th><%= c["column_name"] %></th>
           <% end %>
           </thead><tbody>';

  foreach($<%= @table_name %>_object as $<%= @table_name %>_element)
  {
      echo '<tr>
      <td><a href="<%= @table_name %>_index.php?id='.$<%= @table_name %>_element['id'].'">'.$<%= @table_name %>_element['id'].'</a></td>
              <% (@columns.select{|c| c["column_name"] != "id"}).each do |c| %>
                <% if c["foreign_key"] %>
                  <td><a href="<%= c["foreign_key"]["foreign_table_name"] %>_index.php?id='.$<%= @table_name %>_element['<%= c["column_name"] %>'].'">'.$<%= @table_name %>_element['<%= c["column_name"] %>'].'</a></td>
                <% else %>
                  <td>'.$<%= @table_name %>_element['<%= c["column_name"] %>'].'</td>
                <% end %>
              <% end %>
            </tr>';
  }
  echo '</tbody></table>';

  if(!isset($disableconn))
  pg_close($dbconn);
}
?>
